$highlightWordColor: #ff4500;
$highlightLetterColor: #ffff00;

.paragraph {

  list-style: none;

  .word {
    letter-spacing: 1px;

    &.highlight {
      border: 1px solid $highlightWordColor;

    }

  }

  .letter.highlight {
    background-color: $highlightLetterColor;
  }

}